{
  includes: [
    'phar://phpstan.phar/conf/bleedingEdge.neon',
    'vendor/phpstan/phpstan-strict-rules/rules.neon',
  ],
  parameters: {
    level: 'max',
    paths: [ 'src' ],
    editorUrl: '=>',
    editorUrlTitle: '%%file%%:%%line%%',
    tmpDir: './var/phpstan',
    checkBenevolentUnionTypes: true,
  },
  services: {
    NormalizeHKExpression: {
      class: 'Highstan\NormalizeHKExpression',
      tags: [ 'phpstan.broker.expressionTypeResolverExtension' ]
    }
  }
}